.container{
  height: 50px;
  position: relative;
}
.box{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;  /* for demo purpose  */
}
.stack-top{
  z-index: 9;
  width: 30px;
  margin-top: 10px;
  margin-left: 95%;
}
